<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="MintosTest">
		<parameter name="email" value="test.Mintos.tmp@gmail.com"/>
		<parameter name="pwd" value="Test.Mintos"/>
		<parameter name="url" value="https://lv.sportsdirect.com/"/>
		<parameter name="searchString" value="Test"/>
		
		<classes>
			<class name="MintosTest"/>
					
		</classes>
		
	</test>
</suite>
